@import 'resets';
@import 'mixin';
@import 'variables';

body {
    font-family: $font-family_2;
}

.header {
    @include flexcenter(space-between, center, row);

    @include Tablet {
        @include flexcenter(space-between, center, column);
    }

    @include Mobile-L {
        img {
            width: 100%;
        }
    }

    #{&}_right {
        .social-icon {
            a {
                margin-right: 10px;
                font-size: 35px;
            }
        }

        .logre {
            font-size: 20px;
            @include flexcenter(flex-end, normal, row);

            a {
                padding-right: 10px;
            }
        }
    }
}


.home {
    background-image: url('/img/Home background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    text-align: end;


    h1 {
        text-align: left;

        @include Mobile-L {
            font-size: 70px;
        }

        @include Mobile-S {
            font-size: 50px;
        }

        font-size: 100px;
        font-family: $font-family_1;

    }

    h2 {
        text-align: end;
        font-size: 30px;
        color: #9e56a1;
        font-family: $font-family_2;
    }

    p {
        text-align: end;
    }

    button {

        background-color: #350a37;
        color: white;
        font-size: 15px;
        border: none;

        margin-left: 60%;
        // padding: 10px;

    }
}

.Welcome {
    position: relative;
    width: 100%;

    .w-img {

        @include Tablet {
            width: 100%;
            display: none;
        }

        width: 100%;

        img {
            width: 80%;
        }
    }

    .wel-text {
        @include Tablet {
            position: relative;
            width: 100%;
            margin-top: 5%;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        width: 556px;
        height: 365px;
        background: #34073f;
        position: absolute;
        right: 50px;
        top: 120px;
        color: #ffffff;
        text-align: center;
        z-index:+1;
        h3 {
            font-size: 30px;
            margin: 0;
            z-index: 999;
            position: relative;
        }

        p {
            font-size: 18px;
            line-height: 20px;
            height: 140px;
            overflow: hidden;
            margin: 20px 0;
        }

        .btn {
            background: white;
            color: #34073f;
            float: none;
            margin: 0 auto;
            position: relative;
        }
    }

    .whiteborder {
        @include Tablet {
            display: none;
        }

        width: 555px;
        height: 365px;
        background: transparent;
        border: 3px solid white;
        position: absolute;
        right: 80px;
        top: 150px;
        z-index:+2;
        padding: 52px 80px 20px 80px;
    }

    .purpleborder {
        @include Tablet {
            display: none;
        }

        width: 555px;
        height: 365px;
        background: transparent;
        border: 3px solid #34073f;
        position: absolute;
        right: 100px;
        top: 180px;
        z-index: 0;
        padding: 52px 80px 20px 80px;
    }
}

.os {
    // margin-top: 10%;
    color: #ffffff;
    text-align: center;
    background-color: #34073f;

    .ost {
        text-align: center;

        h1 {
            font-size: 30px;
        }

    }
}

.client {
    position: relative;

    .c-img {
        img {
            width: 100%;
        }

        position: relative;
        margin-left: 20%;
        margin-right: 5%;
        z-index: -1;
    }

    // .c-img {
    //     img {
    //         width: 100%;

    //         @include Tablet {
    //             position: relative;
    //             width: 80%;
    //             left: 6%;
    //         }
    //     }

    //     // position: absolute;
    //     // margin-left: 18%;
    //     z-index: -1;
    // }

    .ctext {
        width: 556px;
        height: 400px;
        background: #34073f;
        position: absolute;
        left: 100px;
        top: 70px;
        padding: 52px 80px 20px 80px;
        color: white;
        // font-family: $font-family_1;

        h3 {
            font-size: 30px;
            margin: 0;
            text-align: center;
            z-index: 999;
            position: relative;
        }

        p {
            display: block;
            float: left;
            font-size: 17px;
            line-height: 20px;
            overflow: hidden;
            padding-left: 30px;
            position: relative;

            &::before {
                background-repeat: no-repeat;
                width: 37px;
                height: 31px;
                content: " ";
                position: absolute;
                top: -5px;
                left: 0;
            }
        }

        .nimg {
            // display: flex;
            float: right;
            margin-right: -12%;
            // justify-content: center;
            // align-content: center;

            .nimgm {
                display: flex;
                flex-direction: column;
                float: left;
                padding-top: 7%;
                margin-right: 60px;
                text-align: center;
            }
        }
    }

    .whiteborder {
        width: 555px;
        height: 400px;
        background: transparent;
        border: 3px solid white;
        position: absolute;
        left: 130px;
        top: 110px;
        z-index: +2;
        padding: 52px 80px 20px 80px;
    }

    .purpleborder {
        width: 555px;
        height: 400px;
        background: transparent;
        border: 3px solid #34073f;
        position: absolute;
        left: 160px;
        top: 150px;
        z-index: -1;
        padding: 52px 80px 20px 80px;
    }
}



.nimg {
    position: relative;

    .nimgm {
        display: block;
        float: right;

        .img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .overlay {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border: 3px solid #34073f;
        transition: none;
        width: 36%;
        height: 90%;
    }

}


.blog {
    h2 {
        font-size: 30px;
        text-align: center;
    }

    p {
        font-size: 18px;
        height: 80px;
        overflow: hidden;
        text-align: center;
    }

    .blog1 {
        .card-body {
            position: relative;

            h4 {
                position: absolute;
                background: #34073f;
                top: 0;
                left: 0;
                margin: 0;
                padding: 25px 37px;
                color: #fff;

                span {
                    font-size: 30px;
                    font-weight: bold;
                }
            }

            h3 {
                font-weight: bold;
                font-size: 20px;
                color: #34073f;
                margin: 100px 0 20px 0;

                &:hover {
                    color: #34073f;
                }
            }

            p {
                font-size: 14px;
                line-height: 20px;
                height: 80px;
                overflow: hidden;
                text-align: left;
                margin-bottom: 32px;
            }

            .post {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    color: #34073f;
                    // font-family: $font-family_1;
                    padding: 0 10px;
                    font-weight: bold;

                    &:first-child {
                        border-right: 1px solid #34073f;
                        padding-left: 0;
                    }

                    i {
                        margin: 0 10px 0 0;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .indicator {
        position: relative;

        a {
            margin: 0 15.5px;

            i {
                font-size: 14px;
                color: #fff;
                padding: 7.5px 12.5px;
                background: #34073f;
            }

            &:hover {
                i {
                    background: #9d54a0;
                }
            }
        }

        .right-arrow {
            float: right;
        }

        .left-arrow {
            float: left;
        }
    }

}


.contact {
    background-color: black;
    color: #ffffff;

    h1 {
        text-align: center;
    }

    .form-control {
        background: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #757575;
        box-shadow: none;
        color: white;
        margin-bottom: 0px;

        &:hover {
            border-bottom: 1px solid white;
        }
    }

    ::placeholder {
        color: whitesmoke;
    }

    .btn {
        background: white;
        color: #9d54a0;
        padding: 10px 60px;
        margin: 0 30%;
        float: none;

        // align-self: center;
        &:hover {
            color: #181415;
            background-color: white;
        }
    }

    .right {
        @include flexcenter(flex-start, flex-start, column);

        .mail {
            @include flexcenter(center, flex-start, row);

            a {
                padding-right: 5%;
            }
        }

        .phone {
            @include flexcenter(center, baseline, row);

            a {
                padding-right: 5%;
            }
        }
    }
}

.footer {
    .Follow {
        h2 {
            font-size: 30px;
            text-align: center;
            color: #34073f;
        }

        .logo {
            img {
                width: 100%;
            }
        }

        .social {
            margin-top: 5%;
            text-align: center;

            .socialicon {
                margin-top: 10%;
                padding-top: 15%;
                background: #1d191a;
                height: 80px;
                width: 80px;
                // margin: auto;
                float: left;
                display: table;
                vertical-align: middle;
                border: none;
                position: relative;
                transform: rotate(-45deg);
                margin-right: 36px;
            }

            // &:last-child {
            //     margin-right: 0;
            // }
            // &:nth-child(3) {
            //     margin-right: 0;
            // }
            a {
                margin-top: 10%;
                font-size: 22PX;
                display: block;
                margin: 0 auto;
                width: 30px;
                list-style: none;
                text-decoration: none;
                height: 30px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        // a{

        // }
    }

    .footertext {
        background-color: black;
        color: white;
        text-align: center;
        height: 40px;
    }
}