@import 'resets';
@import 'mixin';
@import 'variables';


.header {
    @include flexcenter(space-between, center, row);

    @include Tablet {
        @include flexcenter(space-between, center, column);
    }

    @include Mobile-L {
        img {
            width: 100%;
        }
    }

    #{&}_right {
        .social-icon {
            a {
                margin-right: 10px;
                font-size: 35px;
            }
        }

        .logre {
            font-size: 20px;
            @include flexcenter(flex-end, normal, row);

            a {
                padding-right: 10px;
            }
        }
    }
}

nav {
    height: 60px;
    background-color: #500f61;

    .navbar-collapse {
        margin-top: 1.8%;
        background-color: rgb(80, 15, 97);
        text-align: center;
    }

    ul {
        padding-right: 10%;
        font-size: 20px;
    }
}

.home {
    // @include background(cover,no-repeat){
    //     background-image: url("./img/Home background.png");
    // }
    background-image: url("/img/Home background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;

    h1 {
        @include Mobile-L {
            font-size: 70px;
        }

        @include Mobile-S {
            font-size: 50px;
        }

        // font-family: url(./fonts/GreatVibes-Regular.otf);
        font-size: 100px;
        //     font-family: $font1;
        //    src: url("/fonts/GreatVibes-Regular.otf");
    }

    h2 {
        text-align: end;
        font-size: 30px;
        color: #9e56a1;
    }

    p {
        text-align: end;
    }

    button {

        background-color: #350a37;
        color: white;
        font-size: 15px;
        border: none;

        margin-left: 57%;
        // padding: 10px;

    }
}

.Welcome {
    position: relative;
    width: 100%;

    .wel-text {
        @include Tablet {
            position: relative;
            left: 30%;
            margin-top: 5%;
            margin-left: -30%;
            // margin-right: 30%;
            padding: 15px 6px 10px;
            // display: flex;
            // flex-direction: column;
        }

        position: relative;
        left: 30%;
        margin-top: 5%;
        text-align: center;
        // border: 2px solid aquamarine;
        background-color: #34073f;
        color: white;
        margin-left: 33%;
        margin-right: 33%;
        padding: 15px 7px 10px;

        // P{

        // }
    }
}

.os {
    margin-top: 20%;
    color: #ffffff;
    text-align: center;
    background-color: #34073f;

    .ost {
        text-align: center;

        h1 {
            font-size: 30px;
        }

    }
}

.client {
    .c-img {

        // {
        //     @include Tablet {
        //         width: 100%;
        //         margin-left: -10%;
        //     }

        img {
            width: 100%;

            @include Tablet {
                position: relative;
                width: 80%;
                left: 6%;
            }
        }

        position: absolute;
        margin-left: 18%;
        z-index: -1;
    }

    .ctext {
        position: relative;
        // left: 30%;
        right: 23%;
        text-align: end;
        background-color: #34073f;
        color: white;
        margin-left: 28%;
        margin-top: 1%;
        margin-right: 26%;
        padding: 16px 25px 10px;
        top: 115px;

        h1 {
            font-size: 40px;
            font-weight: 600;
            text-align: center;
        }

        .cp {
            @include flexcenter(center, center, row);
            font-size: 16px;
            // p{

            // }
        }

        .nimg {
            @include flexcenter(flex-end, center, row);
        }
    }
}

.blog {
    margin-top: 25%;
    text-align: center;
}


.contact {
    background-color: black;
    color: #ffffff;

    h1 {
        text-align: center;
    }

    .right {
        @include flexcenter(flex-start, flex-start, column);

        .mail {
            @include flexcenter(center, flex-start, row);

            a {
                padding-right: 5%;
            }
        }

        .phone {
            @include flexcenter(center, baseline, row);

            a {
                padding-right: 5%;
            }
        }
    }
}


.footer {
    .footertext {
        background-color: black;
        color: white;
        text-align: center;
        height: 40px;
    }
}